/* @import 'reset-css'; */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  /* background: #ffd6ea; */
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Crimson Pro', serif;
  font-size: 18px; 
  font-style: italic;
} 

.kot {
  width: 30%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

abbr {
  font-weight: bold;
  color: grey;
  text-decoration-line: none;
}

.name {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}

.container {
height: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
font-size: 15px;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
/* font-weight: bold; */
color: rgb(0, 0, 0);
/* background: #ffd6ea; */
position: relative;
z-index: 1;
mix-blend-mode: multiply;
}

.text-box {
  padding: 5px;
  font-size: larger;
  line-height: 1.1;
  max-width: 600px;
  margin: 0;
  padding: 20px;
  padding-bottom: 20px;
}
.first-text-box {
 padding-top: 40px;
  font-size: larger;
  line-height: 1.1;
  max-width: 600px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.last-text-box {
 padding-top: 20px;
  font-size: larger;
  line-height: 1.1;
  max-width: 600px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
}

 .text-box .first-line {
    display: block;
    margin-bottom: 7.5px;
  }

.centered-text {
  display: flex;
  justify-content: center; /* poziomo */
  align-items: center;     /* pionowo */
  height: 100vh;           /* wysokość na całą stronę */
  text-align: left;      
  flex-direction: column;
}

.centered-text-info {
  display: flex;
  align-items: center;     /* pionowo */
  height: 100vh;           /* wysokość na całą stronę */
  text-align: left;      
  flex-direction: column;
  font-style: normal;
}

.hello {
 padding: 20px;
 text-align: center;
 font-size: x-large;
} 

span.bold {
  font-weight: bold;
  display: inline;
}

.text-group {
      display: flex;
      flex-direction: column; /* ustawia wyrazy jeden pod drugim */
      gap: 0.5rem;
      text-align: left;
      font-size: 20px;
      font-family: "Century Expanded";
    }

a {
color: rgb(0, 0, 0);
text-decoration: none;
/* border-bottom: 2px solid brown; */
}

.info-page a {
  background: #f7e1ec;
  color: grey;
}

.background-black a {
  background: #f7e1ec;
  color: grey;
}

/* a:visited { */
  /* color: rgb(2, 2, 2); */
/* } */

a:hover {
  color: black;
  background: #f7e1ec;
}

a:active {
  color: grey;
}

.reverse {
  color: grey;
  text-decoration: none;
}

.back {
font-size: x-large;
font-family: 'Playfair Display', serif;
/* font-style: italic; */
height: 75%;
justify-content: right;
padding: 20px;
}

.back_reverse {
font-size: x-large;
font-family: 'Playfair Display', serif;
/* font-style: italic; */
height: 75%;
justify-content: right;
padding: 20px;
color:#f7e1ec;
}

.pink {
  color: rgb(20, 20, 20);
  background: #f7e1ec;
   display: inline;
}

.color {
  color: grey;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.background-black {
  background: rgb(20, 20, 20);
  color:#f7e1ec;

}

.background-pink {
  background: #ffd6ea;
}

footer {
font-size: x-large;
font-family: 'Playfair Display', serif;
/* font-style: italic; */
justify-content: right;
padding: 10px 20px;
bottom: 0;
width: 100%;
position: fixed;
z-index: 1;

}


/* flowers */

.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.flower {
 position: absolute;
 font-size: 0.5rem;
 color: #f7e1ec;
 opacity: 0.5;
 animation: float 6s ease-in-out infinite alternate;
 opacity: 1 !important;
 background: rgb(20, 20, 20) !important;
 border: 2px solid black !important;
 z-index: 1000 !important;
}

.flower_reverse{
 position: absolute;
 font-size: 0.5rem;
 color: rgb(20, 20, 20);
 opacity: 0.5;
 animation: float 6s ease-in-out infinite alternate;
 opacity: 1 !important;
 background: #f7e1ec !important;
 border: 2px solid #f7e1ec !important;
 z-index: 1000 !important;
}


.flower_pink{
 position: absolute;
 font-size: 0.5rem;
 color: rgb(20, 20, 20);
 opacity: 0.5;
 animation: float 6s ease-in-out infinite alternate;
 opacity: 1 !important;
 background: #f7e1ec !important;
 border: 2px solid #f7e1ec !important;
 z-index: 10000;
 mix-blend-mode: multiply;
}


@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-10px) rotate(180deg);
  }
}








/* przewijanie w poziomie */

.no-scroll {
  overflow: hidden;
}

.scroll-poziom {
  overflow-x: scroll; 
  overflow-y: hidden; 
}

.scroll-poziom a{
  color: rgb(20, 20, 20);
}

.img { 
  /* width:80%; */
  max-width: 100%;
  height: auto;
  padding: 20px;
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;

}

@media (max-width: 768px) {

  .scroll-poziom {
  overflow-x: hidden; 
  overflow-y: scroll; 
  }
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

  @media (max-width: 768px) {
    .img {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .flex-container {
    height: 100vh;
    width: max-content;
    flex-direction: row;}
    .img {
       height: 90vh;
       width: auto;
       max-width: none;
       display: block;
    }
  }